@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  background-color: #FFF;
  text-align: center;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #000;
  background-color: #FFF;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}

.navigation-button{
  color:#FFFFFF;
  background-color: #756157;
}

.search-hotel-button {
  color:#FFF;
  background-color: #756157;
  font-size: 20px;
  border: 0;
  line-height: 36px;
}

.button-submit {
  color: #FFF;
  background-color:#82B3D3;
  font-size: 20px;
  border: 0;
  line-height: 36px;

}

.filters-button-accept {
  line-height: 20px;
  color: #FFF;
  background-color: #82B3D3;
  border: none;
}

.filters-button-reset {
  color:#FFF;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: none;

}

/* Кнопка "Подробнее" в карточках гостиниц */
.hotels-card-link {
  color: #fff;
  background-color: #756157;
  text-decoration: none;
  border: 1px solid #E6E6E6;
}

/* Кнопка в "избранное" */
.hotels-card-button {
  color: #fff;
  background-color: #82B3D3;
  border: 0;
}

/* Кнопка уже в "Избранном" */
.hotels-card-button-current {
  background-color: #7DB54F;
}

.hero {
  color: #000;
  background-color: #FFF;
  background-image: url("../images/hero/flag.svg"), url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100 auto, cover;
  background-position: center bottom, center top;
  text-align: center;
}

.hero-welcome {
  text-align: center;

}
.subtitle {
  font-size:30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title, .services-title, .newsletter-subtitle-catalog {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.search-title-hotel {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;

}

/* Блоки с приемуществами и сервисами */

.advantages-item, .services-item {
  color:#333;

}
.advantages-title-list, .services-title-list {
  color:#000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}


 .box-blue {
  color: #FFF;
  background-color: #82B3D3;
}
.box-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.box-darkgray {
  background-color: rgba(131, 179, 211, 0.20);
}

.white-box {
  background-color: #fff;
}

.home-icon {
background: url("../images/services-icon/home.svg") no-repeat center top rgba(131, 179, 211, 0.12);
}

.eat-icon {
  background: url("../images/services-icon/food.svg") no-repeat center top;
}

.gift-icon {
  background: url("../images/services-icon/gift.svg") no-repeat center top rgba(131, 179, 211, 0.12);
}

.newsletter {
  color: #fff;
  background-color: #82B3D3;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.news-letter-input {
  font-family: "PT Sans";
  color: #000;
  background-color: #F2F2F2;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

/* Иконки соц сетей */
.social-button {
  text-decoration: none;
  background-repeat: no-repeat;
}
.vkontakte {
  background-image: url("../images/vkontakte-icon.svg");
}
.telegram {
  background-image: url("../images/telegram-icon.svg");
}
.youtube {
  background-image: url("../images/youtube-icon.svg");
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}


/* Стилизация каталога с фильтрами */
.main-catalog-filters {
  color: #fff;
  background-color: #82B3D3;
  background-image: url("../images/filters-catalog/filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.main-catalog-filters-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* Хлебные крошки */
.main-catalog-filters-link {
  color:#FFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: capitalize;
}

.infrastructure-title, .housing-title, .price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.sorting-subtitle {
  text-transform: uppercase;
}

.price-filters-input {
  font-family: "PT Sans";
  color: #000;
  background-color: #F2F2F2;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
/* Лейб в фильтрах "От" */
.price-filters-input::placeholder{
  font-weight: 400;
}

.sorting-page {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-filters-min .price-filters-max {
  font-family: "PT Sans";
  color: #000;
  background-color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.sorting-select {
  color: #333;
  background-color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}



.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.frame-type {
  color: #333;
  background-color: #fff;
}

.frame-price{
  color: #333;
  background-color: #fff;
}

/* Звезды рейтинга */
.stars {
  background-color: #FFF;
  background-image: url("../images/sorting-catalog/star.svg");
  background-repeat: no-repeat;

}

.rating-number {
  color:#333;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

/* Пагинация */
.pagination-catalog-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#fff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-catalog-link-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-catalog-link-more {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  background-color: #F2F2F2;
}
