@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  background-color: #FFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #000;
  background-color: #FFF;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-button{
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  text-transform: uppercase;
}

.hero {
  color: #000;
  background-color: #FFF;
  background-image: url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  background-position: center;
  text-align: center;
}

.advantages {
  padding-top: 69px;
}
